.panel-body.panel-list-group {
	padding: 0;
}
.panel-body.panel-list-group .list-group {
	margin-bottom: 0;
}
.panel-body.panel-list-group .list-group .list-group-item:first-child {
	border-radius: 0;
}
.alert-container {
    position: fixed;
    bottom: 10px;
    left: 20px;
    right: 20px;
}
.glyphicon.glyphicon-star.favourite {
    color: #f0ad4e;
}
img#avatar {
    width: 100%;
}
a#avatar {
    margin-bottom: 0px;
}
div#like {
    cursor: pointer;
}
div#like span {
    font-size: 16px;
    border-radius: 1em;
}
div.like span {
    background-color: #777;
}
div.like span:hover {
    background-color: #337ab7;
}
div.like.active span {
    background-color: #337ab7;
}
input.btn {
    display: inline-block;
}
a.email {
    color: white;
}
body, html {
    height: 100%;
}
.tab-content {
    padding-top: 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.tab-content .list-group{
    margin: 4px;
}
ul#myTab li.active a {
    background-color: #337ab7;
    color: white;
}
div.tab-content, div.tab-content div.active {
    background-color: #337ab7;
}
div.panel.thread-body {
    color: black;
    padding: 15px;
    margin-bottom: 0px;
    background-color: white;
}
div.row.thread-body {
    display: table;
}
div.row.thread-body [class*="col-"] {
    position: relative;
    height: 100%;
    float: none;
    display: table-cell;
    vertical-align: top;
}
a.comment_dalete {
    margin-top: 1px;
    margin-left: 5px;
}
a.delete_group {
    margin-right: 10px;
}
a.add_favourite {
    width: 40px;
    height: 40px;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 150%;
    border-radius: 20px;
    position: absolute;
    right: 15px;
}
a.file-input-wrapper {
    z-index: 1;
    white-space: initial;
    width: 100%;
}